* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --tile-size: 125px;
    --text: #0e110f;
    --background: #e3e8e5;
    --primary: #343d3c;
    --secondary: #cbcfd2;
    --accent: #606b71;
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: var(--background);
    color: var(--primary);
}

h1 {
    font-size: 48px;
    padding: 1rem;
    text-align: center;
}

dialog[open] {
    border: none;
    padding: 1rem;
    border-radius: 0.5rem;
    position: absolute;
    float: left;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

dialog p {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem;
    color: var(--text);
    text-transform: capitalize;
}

button {
    border: none;
    font-size: 1rem;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    font-weight: bold;
    background-color: var(--secondary);
}

input {
    border: none;
    padding: 0.5rem;
    border-radius: 0.25rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.board {
    display: grid;
    gap: 0.5rem;
    color: var(--primary);
    grid-template-columns: repeat(3, var(--tile-size));
    grid-template-rows: repeat(3, var(--tile-size));
}

.tile {
    background-color: var(--secondary);
    font-size: 72px;
    display: grid;
    place-items: center;
}

.tile:hover {
    cursor: pointer;
    background-color: var(--accent);
}

.buttons button {
    background-color: var(--secondary);
    flex: 1;
    margin-bottom: 0.5rem;
}

.buttons button.selected {
    background-color: var(--accent);
    color: var(--background);
}

button:hover {
    cursor: pointer;
    background-color: var(--accent);
}

.buttons {
    display: flex;
    gap: 0.5rem;
}

.turn {
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0.5rem;
    text-transform: capitalize;
}